In [16]:
import numpy as np
import pandas as pd
import random
from scipy import sparse
from scipy.sparse import vstack

from sklearn import model_selection, preprocessing
from sklearn.model_selection import train_test_split, StratifiedKFold
from sklearn.preprocessing import Imputer, StandardScaler
from sklearn.linear_model import LogisticRegression, BayesianRidge, LinearRegression, SGDClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB 
from sklearn.ensemble import RandomForestClassifier, ExtraTreesClassifier, GradientBoostingClassifier, AdaBoostClassifier, VotingClassifier
from sklearn.neural_network import MLPClassifier
from sklearn.gaussian_process import GaussianProcessClassifier
from sklearn.svm import SVC
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import accuracy_score, log_loss, classification_report

import xgboost as xgb
from sklearn.feature_extraction.text import CountVectorizer

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list the files in the input directory

from subprocess import check_output
from geopy.distance import vincenty

# Any results you write to the current directory are saved as output.

In [3]:
data_path = "../input/"
train_file =  "train.json"
test_file =  "test.json"
train_df = pd.read_json(train_file)
test_df = pd.read_json(test_file)
print(train_df.shape)
print(test_df.shape)

(49352, 15)
(74659, 14)

In [4]:
list(train_df.columns.values)

['bathrooms',
 'bedrooms',
 'building_id',
 'created',
 'description',
 'display_address',
 'features',
 'interest_level',
 'latitude',
 'listing_id',
 'longitude',
 'manager_id',
 'photos',
 'price',
 'street_address']

In [5]:
cols_to_delete = ['photos','building_id','street_address','display_address']
train_df.drop(cols_to_delete,inplace=True,axis=1)

In [6]:
train_df.drop(cols_to_delete,inplace=True,axis=1)

In [11]:
cen_longitude=train_df['longitude'].mean()

In [12]:
cen_latitude=train_df['latitude'].mean()

In [13]:
len(train_df)

49352

In [196]:
def distance(x,y):
    centroid = (cen_latitude, cen_longitude)
    point=(x,y)
    return (vincenty(centroid, point).miles)*100

In [18]:
a=[]
for index, row in train_df.iterrows():
    a.append(distance(row['latitude'],row['longitude']))

In [21]:
train_df

,bathrooms,bedrooms,created,description,features,interest_level,latitude,listing_id,longitude,manager_id,price,Distance
10,1.5,3,2016-06-24 07:54:24,A Brand New 3 Bedroom 1.5 bath ApartmentEnjoy ...,[],medium,40.7145,7211212,-73.9425,5ba989232d0489da1b5f2c45f6688adc,3000,1.990931
10000,1.0,2,2016-06-12 12:19:27,,"[Doorman, Elevator, Fitness Center, Cats Allow...",low,40.7947,7150865,-73.9667,7533621a882f71e25173b27e3139d83d,5465,3.712856
100004,1.0,1,2016-04-17 03:26:41,"Top Top West Village location, beautiful Pre-w...","[Laundry In Building, Dishwasher, Hardwood Flo...",high,40.7388,6887163,-74.0018,d9039c43983f6e564b1482b273bd7b01,2850,2.426099
100007,1.0,1,2016-04-18 02:22:02,Building Amenities - Garage - Garden - fitness...,"[Hardwood Floors, No Fee]",low,40.7539,6888711,-73.9677,1067e078446a7897d2da493d2f741316,3275,1.059418
100013,1.0,4,2016-04-28 01:32:41,Beautifully renovated 3 bedroom flex 4 bedroom...,[Pre-War],low,40.8241,6934781,-73.9493,98e13ad4b495b9613cef886d79a6291f,3350,5.706492
100014,2.0,4,2016-04-19 04:24:47,,[],medium,40.7429,6894514,-74.0028,b209e2c4384a64cc307c26759ee0c651,7995,2.472872
100016,1.0,2,2016-04-27 03:19:56,Stunning unit with a great location and lots o...,"[prewar, elevator, Dogs Allowed, Cats Allowed,...",low,40.8012,6930771,-73.9660,01287194f20de51872e81f660def4784,3600,4.151589
100020,2.0,1,2016-04-13 06:01:42,"This huge sunny ,plenty of lights 1 bed/2 bath...","[Doorman, Elevator, Pre-War, Terrace, Laundry ...",low,40.7427,6867392,-73.9957,e6472c7237327dd3903b3d6f6a94515a,5645,2.099995
100026,1.0,1,2016-04-20 02:36:35,<p><a website_redacted,"[Cats Allowed, Dogs Allowed, Elevator, Laundry...",medium,40.8234,6898799,-73.9457,c1a6598437b7db560cde66e5a297a53f,1725,5.672636
100027,2.0,4,2016-04-02 02:58:15,This is a spacious four bedroom with every bed...,"[Dishwasher, Hardwood Floors]",low,40.7278,6814332,-73.9808,23a01ea7717b38875f5b070282d1b9d2,5800,1.622670
100030,1.0,0,2016-04-14 01:10:30,New to the market! Spacious studio located in ...,[],low,40.7769,6869199,-73.9467,e32475a6134d6d18279946b7b20a0f12,1950,2.485044
10004,1.0,1,2016-06-03 03:21:22,Check out this one bedroom apartment in a grea...,"[prewar, dishwasher, HIGHRISE, ROOFDECK, EAT I...",low,40.8448,7102986,-73.9396,2dee0868ac01057760055b856e66e942,1675,7.174888
100044,1.0,2,2016-04-19 05:37:25,***LOW FEE. Beautiful CHERRY OAK WOODEN FLOORS...,"[Doorman, Elevator, Laundry in Building, No Fee]",high,40.7488,6895442,-73.9770,537e06890f6a86dbb70c187db5be4d55,3000,1.224066
100048,2.0,2,2016-04-09 01:22:11,Lincoln Square's premier full service building...,"[Swimming Pool, Doorman, Fitness Center, No Fe...",low,40.7707,6846213,-73.9817,3813434aabfbad659a45f86a740cd23f,6895,2.430281
10005,1.0,1,2016-06-01 03:11:01,Spacious 1-Bedroom to fit King-sized bed comfo...,"[Elevator, Multi-Level, Laundry in Building, D...",low,40.7584,7089402,-73.9648,75f38d077366d7964c2f3bb80c3e7b1d,3050,1.256962
100051,1.0,0,2016-04-18 02:36:00,Stunning full renovated studio unit. High cei...,"[Doorman, Elevator, Fitness Center, Laundry in...",medium,40.7439,6889043,-73.9743,dbbb6b990661b1e507a387f019bcb1a0,2350,0.988796
100052,1.0,2,2016-04-22 05:57:16,East Village is a great community with great p...,[Hardwood Floors],low,40.7305,6913348,-73.9830,0411b25b134141100d8214ed6ec02f56,3650,1.622251
100053,1.0,1,2016-04-19 03:36:28,"*Location: Thayer St. &amp; Broadway, Manhatta...","[prewar, LOWRISE, EAT IN KITCHEN, SIMPLEX, HAR...",low,40.8643,6894111,-73.9280,ab15d581a04ed87b6f25d5aff8ddde30,1695,8.594276
100055,1.0,4,2016-04-20 04:00:32,,"[No Fee, Cats Allowed, Dogs Allowed]",low,40.7999,6900220,-73.9638,8f5a9c893f6d602f4953fcc0b8e6e9b4,5000,4.048952
100058,1.0,1,2016-04-09 03:49:42,,"[Cats Allowed, Dogs Allowed]",low,40.7328,6848536,-73.9799,8f5a9c893f6d602f4953fcc0b8e6e9b4,3973,1.405478
100062,1.0,3,2016-04-12 02:39:45,BEAUTIFUL 2 BEDROOM POSSIBLE CONVERSION INTO T...,"[Doorman, Elevator, Dishwasher, Hardwood Floors]",low,40.7454,6858062,-73.9845,3793e58c60343a3fd6846ca2d2ef3c7f,4395,1.533892
100063,1.0,2,2016-04-07 02:11:45,No fee huge two bedroom apartment. Great locat...,"[Elevator, Central A/C, Walk in Closet(s), Par...",medium,40.7427,6836760,-73.9794,e6472c7237327dd3903b3d6f6a94515a,2999,1.245572
100065,1.0,1,2016-04-13 05:17:43,,"[Cats Allowed, Dogs Allowed]",low,40.7447,6866830,-73.9741,8f5a9c893f6d602f4953fcc0b8e6e9b4,2595,0.989106
100066,1.0,1,2016-04-17 02:26:52,CooperCooper.com :: Web ID #179546; Access 100...,"[Doorman, Fitness Center, Pool, Elevator, Publ...",low,40.7074,6885927,-74.0081,6e5c10246156ae5bdcd9b487ca99d96a,3695,3.621261
10007,2.0,4,2016-06-07 04:39:56,SPRAWLING 2 BEDROOM FOUND! ENJOY THE LUXURY OF...,"[Balcony, Doorman, Elevator, Fitness Center, T...",medium,40.7391,7120132,-73.9936,0cff4a2a147d81e51ae8a91289e129f7,7400,1.995466
100071,3.5,4,2016-04-27 06:43:40,Amazing 4 bedroom convertible. Remarkably luxu...,"[Roof Deck, Dining Room, Balcony, Doorman, Ele...",low,40.7584,6933499,-73.9653,ad3d8ddc52c7e0859b5c6c7f7949c3bd,7500,1.267145
100075,1.0,1,2016-04-25 02:29:50,Don't miss out on this fantastic apartment.......,"[Dishwasher, Hardwood Floors, No Fee]",medium,40.7728,6921632,-73.9502,4f9b376a972b863bbfbdcdc8d717fa4e,2295,2.176025
100076,1.0,1,2016-04-22 05:39:10,The TRUE 1 bedroom apartment features extra la...,"[Roof Deck, Doorman, Elevator, Laundry in Buil...",low,40.7709,6913084,-73.9917,63e8c482071c22f43dd91b954e75cc2c,3164,2.769139
100079,1.0,1,2016-04-21 05:27:10,"Currently under renovation, this one b...",[],high,40.8335,6907079,-73.9141,12c0a30e296faa0dfd422fe918d7d4f4,1350,6.710086
100081,2.0,2,2016-04-26 02:59:37,Gut Renovated Apartment with Stainless steel a...,"[Doorman, Elevator, Fitness Center, Pre-War, L...",low,40.7716,6925264,-73.9506,797f306f24780e1a24e4f063d46a2d8d,5600,2.091189
...,...,...,...,...,...,...,...,...,...,...,...,...
99915,1.0,1,2016-04-25 01:13:37,"Elegant, spacious one bedroom in modern luxury...","[Swimming Pool, Doorman, Fitness Center, Dogs ...",low,40.7176,6921019,-73.9531,ac8e91c7b3c57a65a05683e04e4ee334,3126,1.657946
99917,1.0,1,2016-04-26 04:43:14,,"[Cats Allowed, Dogs Allowed, Doorman, Elevator...",low,40.7655,6926146,-73.9785,b06e1df5b2aff97e494bf9aea0d3eb7d,3325,2.040032
99919,1.0,0,2016-04-08 05:51:57,(((((IMPORTANT NOTICE))))) If you are planning...,"[Elevator, Laundry in Building, Laundry in Uni...",medium,40.7721,6844805,-73.9539,e6472c7237327dd3903b3d6f6a94515a,2100,2.110543
99921,1.0,2,2016-04-29 15:03:29,WASHER & DRYER IN UNIT ++ 5 MINUTE WALK TO R T...,"[Furnished, Laundry In Unit]",medium,40.6182,6943991,-74.0360,d23f9a9e6b9f6003f26017bda6dd1cb2,3500,9.498649
99923,2.0,2,2016-04-05 01:12:45,Tremendous Classic Six in a Luxurious Prewar D...,"[Doorman, Pre-War, Dogs Allowed, Cats Allowed]",low,40.7829,6822618,-73.9731,7dbded20b3fed08d7d100bf2214e624b,11950,2.995849
99924,1.0,1,2016-04-24 03:15:18,Luxury Living--- Full-Time Doorman--- Concierg...,"[Doorman, Laundry in Building, Laundry in Unit...",low,40.7637,6918969,-73.9847,e1c98bf7f1a044ec4df76abee5f0f5e6,2980,2.156473
99931,1.0,1,2016-04-25 01:20:23,Only one block form Washington Square Park! Ne...,"[Dogs Allowed, Cats Allowed]",low,40.7293,6921162,-73.9987,6622a56323ab90abcace1f529cd7c95d,2850,2.409177
99933,1.0,2,2016-04-03 03:51:21,THIS RESIDENCE FEATURES STAINLESS STEAL APPLI...,"[Roof Deck, Dining Room, Doorman, Elevator, Fi...",low,40.7075,6819357,-74.0043,6f1aeac17da650a577a87ac3a143a5ec,2885,3.467518
99935,1.0,1,2016-04-19 02:58:55,This newly renovated 1 bedroom unit is recentl...,[],low,40.7287,6893263,-73.9808,4d6dd180ce32ef726c992c6647981978,2950,1.587165
99937,1.5,0,2016-04-14 05:39:33,"Bedroom on top, Living room on bottom<br /><br...","[Pre-War, Laundry in Building, Dishwasher, Har...",low,40.7769,6873182,-73.9467,d90f2151c55212a41a0d965198d5e555,2650,2.485044
9994,1.0,2,2016-06-06 01:22:44,Don't miss out on this spacious and beautiful ...,"[Doorman, Pre-War, Dogs Allowed, Cats Allowed]",low,40.7957,7114685,-73.9705,001ce808ce1720e24a9510e014c69707,4850,3.816510
99953,1.0,1,2016-04-26 02:18:16,"This exquisitely appointed 1 bedroom, 1 bath r...","[Doorman, Elevator, Furnished, Pre-War, Dishwa...",low,40.7655,6924210,-73.9785,5ce67c680fc5550aaa20b7c90380de4c,3475,2.040032
99956,2.0,2,2016-04-16 16:39:50,This spacious two bedroom apartment features e...,"[Common Outdoor Space, Cats Allowed, Dogs Allo...",low,40.7095,6884807,-74.0084,26d69329a0f3b9abecbddd6abcb5b622,5815,3.540952
99960,1.0,1,2016-04-05 04:35:32,Great Lower East Side one bedroom.Well maintai...,[Hardwood Floors],medium,40.7179,6825168,-73.9989,453d46f8113e1f2c730c2ee5a4469c71,2050,2.792946
99961,2.0,3,2016-04-22 03:11:44,THIS LARGE AND SPACIOUS 3 BD/ONE BA APARTMENT ...,"[Doorman, Elevator, Laundry in Building, Dishw...",low,40.7222,6911061,-73.9824,1fb46c4a72bcf764ac35fc23f394760d,4600,1.934866
99964,1.0,0,2016-04-29 05:20:49,77TH ST! FULLY GUT RENOV STUDIO! HI CEIL! XPSD...,"[Loft, Multi-Level, Dishwasher, Hardwood Floors]",medium,40.7708,6942494,-73.9525,fd960446d2a41002d3b36f25740157ca,2000,2.025727
99965,2.0,3,2016-04-03 05:23:23,Full-Time Doorman PET FRIENDLYElevator GYMLaun...,"[Swimming Pool, Dining Room, Doorman, Elevator...",low,40.7766,6819478,-73.9463,2e67103872a6d3e53ccd4e6229bae9b1,9200,2.468839
99966,1.0,3,2016-04-15 05:36:39,This is a Great Opportunity to Rent an Excelle...,"[Roof Deck, Doorman, Elevator, Fitness Center,...",low,40.7695,6878391,-73.9603,fa0e15022a76c748bbc5e1f420439921,4550,1.943926
99979,1.0,1,2016-04-14 03:32:24,,[],low,40.6865,6871559,-73.9134,324631e1aacaa41bc4475f879756bbb6,1900,4.400301
99980,1.0,0,2016-04-27 12:52:12,Incredibly sunny and spacious studio apartment...,"[Common Outdoor Space, Cats Allowed, Dogs Allo...",low,40.7090,6933865,-74.0105,045f9f5708f6896535892b85a81d8151,2500,3.648850
99982,1.0,1,2016-04-07 02:29:00,"LUXURY BUILDING IN MIDTOWN WEST, 24 HR DOORMAN...","[Doorman, Elevator, Fitness Center, Laundry in...",high,40.7645,6837242,-73.9840,e6472c7237327dd3903b3d6f6a94515a,2500,2.170667
99984,1.0,1,2016-04-02 03:17:03,Huge true king size one bedroom in an elevator...,"[Elevator, Multi-Level, Dishwasher, Hardwood F...",low,40.7728,6815109,-73.9591,ac888923cda3b9e4f0311267be25de9c,2675,2.163993
99986,1.0,1,2016-04-14 03:39:42,"Charming one bedroom! Hardwood floors, sunny, ...","[Elevator, Hardwood Floors]",low,40.7350,6871681,-74.0007,f9920c687eb43480349a4a3e16fc39cf,3645,2.403833
99987,1.0,1,2016-04-11 03:29:05,**89th & Park Ave! (block from the central par...,[Dishwasher],low,40.7889,6856001,-73.9719,bf0d9091553cd99e68fe92b23966e140,2179,3.376163
99988,1.0,1,2016-04-22 15:44:11,24hr Doorman Luxury building in the heart of t...,"[Cats Allowed, No Fee, Doorman, Elevator, Laun...",medium,40.7296,6913833,-73.9869,e9920062e07ee893c10e38d0259665b0,4500,1.832607
9999,1.0,2,2016-06-02 05:41:05,"30TH/3RD, MASSIVE CONV 2BR IN LUXURY FULL SERV...","[Elevator, Laundry in Building, Laundry in Uni...",medium,40.7426,7098690,-73.9790,2a1ee03b449700c3a15dd8c9a505c525,3200,1.224194
99991,1.0,1,2016-04-04 18:22:34,"HIGH END condo finishes, swimming pool, and ki...","[Common Outdoor Space, Cats Allowed, Dogs Allo...",low,40.7102,6822449,-74.0163,ef20d40b528500037e37b167787ac089,3950,3.846154
99992,1.0,1,2016-04-16 02:13:40,Large Renovated One Bedroom Apartment with Sta...,"[Doorman, Elevator, Pre-War, Dogs Allowed, Cat...",low,40.7601,6881461,-73.9900,d889a9552265fe359e7d36d172084fcb,2595,2.208182
99993,1.0,0,2016-04-08 02:13:33,Stylishly sleek studio apartment with unsurpas...,"[Doorman, Elevator, Pre-War, Dogs Allowed, Cat...",low,40.7066,6841891,-74.0101,9fd3af5b2d23951e028059e8940a55d7,3350,3.737014
99994,1.0,2,2016-04-12 02:48:07,Look no further!!! This giant 2 bedroom apart...,[Hardwood Floors],low,40.8699,6858245,-73.9172,d7f57128272bfd82e33a61999b5f4c42,2200,9.084250

In [91]:
def grades_average(my_list):
    sum_of_grades = sum(my_list)
    average = sum_of_grades / len(my_list)
    return average

In [20]:
train_df["Distance"]=a

In [92]:
print(grades_average(a))

4.346265908990207

In [99]:
k=pd.DataFrame(a)
k.hist()

array([[<matplotlib.axes._subplots.AxesSubplot object at 0x1344b64e0>]], dtype=object)

In [102]:
pd.DataFrame(a).describe()

                  0
count  49352.000000
mean       4.346266
std       84.928739
min        0.075857
25%        1.837859
50%        2.466716
75%        3.526085
max     5383.451577

In [137]:
np.sum(m<10000000)

0    49352
dtype: int64

In [75]:
dataset.loc[ dataset['Age'] <= 16, 'Age'] 					       = 0
dataset.loc[(dataset['Age'] > 16) & (dataset['Age'] <= 32), 'Age'] = 1
dataset.loc[(dataset['Age'] > 32) & (dataset['Age'] <= 48), 'Age'] = 2
dataset.loc[(dataset['Age'] > 48) & (dataset['Age'] <= 64), 'Age'] = 3
dataset.loc[ dataset['Age'] > 64, 'Age']

TypeError: unhashable type: 'slice'

In [42]:
train_df[]

,bathrooms,bedrooms,created,description,display_address,features,interest_level,latitude,listing_id,longitude,manager_id,price
10,1.5,3,2016-06-24 07:54:24,A Brand New 3 Bedroom 1.5 bath ApartmentEnjoy ...,Metropolitan Avenue,[],medium,40.7145,7211212,-73.9425,5ba989232d0489da1b5f2c45f6688adc,3000
10000,1.0,2,2016-06-12 12:19:27,,Columbus Avenue,"[Doorman, Elevator, Fitness Center, Cats Allow...",low,40.7947,7150865,-73.9667,7533621a882f71e25173b27e3139d83d,5465
100004,1.0,1,2016-04-17 03:26:41,"Top Top West Village location, beautiful Pre-w...",W 13 Street,"[Laundry In Building, Dishwasher, Hardwood Flo...",high,40.7388,6887163,-74.0018,d9039c43983f6e564b1482b273bd7b01,2850
100007,1.0,1,2016-04-18 02:22:02,Building Amenities - Garage - Garden - fitness...,East 49th Street,"[Hardwood Floors, No Fee]",low,40.7539,6888711,-73.9677,1067e078446a7897d2da493d2f741316,3275
100013,1.0,4,2016-04-28 01:32:41,Beautifully renovated 3 bedroom flex 4 bedroom...,West 143rd Street,[Pre-War],low,40.8241,6934781,-73.9493,98e13ad4b495b9613cef886d79a6291f,3350
100014,2.0,4,2016-04-19 04:24:47,,West 18th Street,[],medium,40.7429,6894514,-74.0028,b209e2c4384a64cc307c26759ee0c651,7995
100016,1.0,2,2016-04-27 03:19:56,Stunning unit with a great location and lots o...,West 107th Street,"[prewar, elevator, Dogs Allowed, Cats Allowed,...",low,40.8012,6930771,-73.9660,01287194f20de51872e81f660def4784,3600
100020,2.0,1,2016-04-13 06:01:42,"This huge sunny ,plenty of lights 1 bed/2 bath...",West 21st Street,"[Doorman, Elevator, Pre-War, Terrace, Laundry ...",low,40.7427,6867392,-73.9957,e6472c7237327dd3903b3d6f6a94515a,5645
100026,1.0,1,2016-04-20 02:36:35,<p><a website_redacted,Hamilton Terrace,"[Cats Allowed, Dogs Allowed, Elevator, Laundry...",medium,40.8234,6898799,-73.9457,c1a6598437b7db560cde66e5a297a53f,1725
100027,2.0,4,2016-04-02 02:58:15,This is a spacious four bedroom with every bed...,522 E 11th,"[Dishwasher, Hardwood Floors]",low,40.7278,6814332,-73.9808,23a01ea7717b38875f5b070282d1b9d2,5800
100030,1.0,0,2016-04-14 01:10:30,New to the market! Spacious studio located in ...,York Avenue,[],low,40.7769,6869199,-73.9467,e32475a6134d6d18279946b7b20a0f12,1950
10004,1.0,1,2016-06-03 03:21:22,Check out this one bedroom apartment in a grea...,W. 173rd Street,"[prewar, dishwasher, HIGHRISE, ROOFDECK, EAT I...",low,40.8448,7102986,-73.9396,2dee0868ac01057760055b856e66e942,1675
100044,1.0,2,2016-04-19 05:37:25,***LOW FEE. Beautiful CHERRY OAK WOODEN FLOORS...,E 38th St,"[Doorman, Elevator, Laundry in Building, No Fee]",high,40.7488,6895442,-73.9770,537e06890f6a86dbb70c187db5be4d55,3000
100048,2.0,2,2016-04-09 01:22:11,Lincoln Square's premier full service building...,West 63rd Street,"[Swimming Pool, Doorman, Fitness Center, No Fe...",low,40.7707,6846213,-73.9817,3813434aabfbad659a45f86a740cd23f,6895
10005,1.0,1,2016-06-01 03:11:01,Spacious 1-Bedroom to fit King-sized bed comfo...,East 56th St..,"[Elevator, Multi-Level, Laundry in Building, D...",low,40.7584,7089402,-73.9648,75f38d077366d7964c2f3bb80c3e7b1d,3050
100051,1.0,0,2016-04-18 02:36:00,Stunning full renovated studio unit. High cei...,East 34th Street,"[Doorman, Elevator, Fitness Center, Laundry in...",medium,40.7439,6889043,-73.9743,dbbb6b990661b1e507a387f019bcb1a0,2350
100052,1.0,2,2016-04-22 05:57:16,East Village is a great community with great p...,1st Ave.,[Hardwood Floors],low,40.7305,6913348,-73.9830,0411b25b134141100d8214ed6ec02f56,3650
100053,1.0,1,2016-04-19 03:36:28,"*Location: Thayer St. &amp; Broadway, Manhatta...",Thayer St,"[prewar, LOWRISE, EAT IN KITCHEN, SIMPLEX, HAR...",low,40.8643,6894111,-73.9280,ab15d581a04ed87b6f25d5aff8ddde30,1695
100055,1.0,4,2016-04-20 04:00:32,,West 106th Street,"[No Fee, Cats Allowed, Dogs Allowed]",low,40.7999,6900220,-73.9638,8f5a9c893f6d602f4953fcc0b8e6e9b4,5000
100058,1.0,1,2016-04-09 03:49:42,,1st Avenue,"[Cats Allowed, Dogs Allowed]",low,40.7328,6848536,-73.9799,8f5a9c893f6d602f4953fcc0b8e6e9b4,3973
100062,1.0,3,2016-04-12 02:39:45,BEAUTIFUL 2 BEDROOM POSSIBLE CONVERSION INTO T...,Madison Avenue,"[Doorman, Elevator, Dishwasher, Hardwood Floors]",low,40.7454,6858062,-73.9845,3793e58c60343a3fd6846ca2d2ef3c7f,4395
100063,1.0,2,2016-04-07 02:11:45,No fee huge two bedroom apartment. Great locat...,"E 30th St,","[Elevator, Central A/C, Walk in Closet(s), Par...",medium,40.7427,6836760,-73.9794,e6472c7237327dd3903b3d6f6a94515a,2999
100065,1.0,1,2016-04-13 05:17:43,,East 35th Street,"[Cats Allowed, Dogs Allowed]",low,40.7447,6866830,-73.9741,8f5a9c893f6d602f4953fcc0b8e6e9b4,2595
100066,1.0,1,2016-04-17 02:26:52,CooperCooper.com :: Web ID #179546; Access 100...,Liberty Street,"[Doorman, Fitness Center, Pool, Elevator, Publ...",low,40.7074,6885927,-74.0081,6e5c10246156ae5bdcd9b487ca99d96a,3695
10007,2.0,4,2016-06-07 04:39:56,SPRAWLING 2 BEDROOM FOUND! ENJOY THE LUXURY OF...,W 18 St.,"[Balcony, Doorman, Elevator, Fitness Center, T...",medium,40.7391,7120132,-73.9936,0cff4a2a147d81e51ae8a91289e129f7,7400
100071,3.5,4,2016-04-27 06:43:40,Amazing 4 bedroom convertible. Remarkably luxu...,East 56th,"[Roof Deck, Dining Room, Balcony, Doorman, Ele...",low,40.7584,6933499,-73.9653,ad3d8ddc52c7e0859b5c6c7f7949c3bd,7500
100075,1.0,1,2016-04-25 02:29:50,Don't miss out on this fantastic apartment.......,E 81st St.,"[Dishwasher, Hardwood Floors, No Fee]",medium,40.7728,6921632,-73.9502,4f9b376a972b863bbfbdcdc8d717fa4e,2295
100076,1.0,1,2016-04-22 05:39:10,The TRUE 1 bedroom apartment features extra la...,West 57th Street,"[Roof Deck, Doorman, Elevator, Laundry in Buil...",low,40.7709,6913084,-73.9917,63e8c482071c22f43dd91b954e75cc2c,3164
100079,1.0,1,2016-04-21 05:27:10,"Currently under renovation, this one b...",1215 Morris Avenue,[],high,40.8335,6907079,-73.9141,12c0a30e296faa0dfd422fe918d7d4f4,1350
100081,2.0,2,2016-04-26 02:59:37,Gut Renovated Apartment with Stainless steel a...,E 79th St.,"[Doorman, Elevator, Fitness Center, Pre-War, L...",low,40.7716,6925264,-73.9506,797f306f24780e1a24e4f063d46a2d8d,5600
...,...,...,...,...,...,...,...,...,...,...,...,...
99915,1.0,1,2016-04-25 01:13:37,"Elegant, spacious one bedroom in modern luxury...",North 10th Street,"[Swimming Pool, Doorman, Fitness Center, Dogs ...",low,40.7176,6921019,-73.9531,ac8e91c7b3c57a65a05683e04e4ee334,3126
99917,1.0,1,2016-04-26 04:43:14,,W 58th St,"[Cats Allowed, Dogs Allowed, Doorman, Elevator...",low,40.7655,6926146,-73.9785,b06e1df5b2aff97e494bf9aea0d3eb7d,3325
99919,1.0,0,2016-04-08 05:51:57,(((((IMPORTANT NOTICE))))) If you are planning...,East 78th Street,"[Elevator, Laundry in Building, Laundry in Uni...",medium,40.7721,6844805,-73.9539,e6472c7237327dd3903b3d6f6a94515a,2100
99921,1.0,2,2016-04-29 15:03:29,WASHER & DRYER IN UNIT ++ 5 MINUTE WALK TO R T...,Ridge Blvd.,"[Furnished, Laundry In Unit]",medium,40.6182,6943991,-74.0360,d23f9a9e6b9f6003f26017bda6dd1cb2,3500
99923,2.0,2,2016-04-05 01:12:45,Tremendous Classic Six in a Luxurious Prewar D...,West 81st Street,"[Doorman, Pre-War, Dogs Allowed, Cats Allowed]",low,40.7829,6822618,-73.9731,7dbded20b3fed08d7d100bf2214e624b,11950
99924,1.0,1,2016-04-24 03:15:18,Luxury Living--- Full-Time Doorman--- Concierg...,8th Avenue,"[Doorman, Laundry in Building, Laundry in Unit...",low,40.7637,6918969,-73.9847,e1c98bf7f1a044ec4df76abee5f0f5e6,2980
99931,1.0,1,2016-04-25 01:20:23,Only one block form Washington Square Park! Ne...,Thompson Street,"[Dogs Allowed, Cats Allowed]",low,40.7293,6921162,-73.9987,6622a56323ab90abcace1f529cd7c95d,2850
99933,1.0,2,2016-04-03 03:51:21,THIS RESIDENCE FEATURES STAINLESS STEAL APPLI...,Water,"[Roof Deck, Dining Room, Doorman, Elevator, Fi...",low,40.7075,6819357,-74.0043,6f1aeac17da650a577a87ac3a143a5ec,2885
99935,1.0,1,2016-04-19 02:58:55,This newly renovated 1 bedroom unit is recentl...,East 12th Street,[],low,40.7287,6893263,-73.9808,4d6dd180ce32ef726c992c6647981978,2950
99937,1.5,0,2016-04-14 05:39:33,"Bedroom on top, Living room on bottom<br /><br...",York Avenue,"[Pre-War, Laundry in Building, Dishwasher, Har...",low,40.7769,6873182,-73.9467,d90f2151c55212a41a0d965198d5e555,2650
9994,1.0,2,2016-06-06 01:22:44,Don't miss out on this spacious and beautiful ...,West 98th Street,"[Doorman, Pre-War, Dogs Allowed, Cats Allowed]",low,40.7957,7114685,-73.9705,001ce808ce1720e24a9510e014c69707,4850
99953,1.0,1,2016-04-26 02:18:16,"This exquisitely appointed 1 bedroom, 1 bath r...",West 58th Street,"[Doorman, Elevator, Furnished, Pre-War, Dishwa...",low,40.7655,6924210,-73.9785,5ce67c680fc5550aaa20b7c90380de4c,3475
99956,2.0,2,2016-04-16 16:39:50,This spacious two bedroom apartment features e...,Nassau Street,"[Common Outdoor Space, Cats Allowed, Dogs Allo...",low,40.7095,6884807,-74.0084,26d69329a0f3b9abecbddd6abcb5b622,5815
99960,1.0,1,2016-04-05 04:35:32,Great Lower East Side one bedroom.Well maintai...,Baxter Street,[Hardwood Floors],medium,40.7179,6825168,-73.9989,453d46f8113e1f2c730c2ee5a4469c71,2050
99961,2.0,3,2016-04-22 03:11:44,THIS LARGE AND SPACIOUS 3 BD/ONE BA APARTMENT ...,East 3rd Street,"[Doorman, Elevator, Laundry in Building, Dishw...",low,40.7222,6911061,-73.9824,1fb46c4a72bcf764ac35fc23f394760d,4600
99964,1.0,0,2016-04-29 05:20:49,77TH ST! FULLY GUT RENOV STUDIO! HI CEIL! XPSD...,E 77 St,"[Loft, Multi-Level, Dishwasher, Hardwood Floors]",medium,40.7708,6942494,-73.9525,fd960446d2a41002d3b36f25740157ca,2000
99965,2.0,3,2016-04-03 05:23:23,Full-Time Doorman PET FRIENDLYElevator GYMLaun...,East 87th Street,"[Swimming Pool, Dining Room, Doorman, Elevator...",low,40.7766,6819478,-73.9463,2e67103872a6d3e53ccd4e6229bae9b1,9200
99966,1.0,3,2016-04-15 05:36:39,This is a Great Opportunity to Rent an Excelle...,East 72nd Street,"[Roof Deck, Doorman, Elevator, Fitness Center,...",low,40.7695,6878391,-73.9603,fa0e15022a76c748bbc5e1f420439921,4550
99979,1.0,1,2016-04-14 03:32:24,,Eldert St,[],low,40.6865,6871559,-73.9134,324631e1aacaa41bc4475f879756bbb6,1900
99980,1.0,0,2016-04-27 12:52:12,Incredibly sunny and spacious studio apartment...,John Street,"[Common Outdoor Space, Cats Allowed, Dogs Allo...",low,40.7090,6933865,-74.0105,045f9f5708f6896535892b85a81d8151,2500
99982,1.0,1,2016-04-07 02:29:00,"LUXURY BUILDING IN MIDTOWN WEST, 24 HR DOORMAN...",W 54 St.,"[Doorman, Elevator, Fitness Center, Laundry in...",high,40.7645,6837242,-73.9840,e6472c7237327dd3903b3d6f6a94515a,2500
99984,1.0,1,2016-04-02 03:17:03,Huge true king size one bedroom in an elevator...,E 76 Street,"[Elevator, Multi-Level, Dishwasher, Hardwood F...",low,40.7728,6815109,-73.9591,ac888923cda3b9e4f0311267be25de9c,2675
99986,1.0,1,2016-04-14 03:39:42,"Charming one bedroom! Hardwood floors, sunny, ...",Charles Street,"[Elevator, Hardwood Floors]",low,40.7350,6871681,-74.0007,f9920c687eb43480349a4a3e16fc39cf,3645
99987,1.0,1,2016-04-11 03:29:05,**89th & Park Ave! (block from the central par...,East 89th Street,[Dishwasher],low,40.7889,6856001,-73.9719,bf0d9091553cd99e68fe92b23966e140,2179
99988,1.0,1,2016-04-22 15:44:11,24hr Doorman Luxury building in the heart of t...,East 10th Street,"[Cats Allowed, No Fee, Doorman, Elevator, Laun...",medium,40.7296,6913833,-73.9869,e9920062e07ee893c10e38d0259665b0,4500
9999,1.0,2,2016-06-02 05:41:05,"30TH/3RD, MASSIVE CONV 2BR IN LUXURY FULL SERV...",E 30 St,"[Elevator, Laundry in Building, Laundry in Uni...",medium,40.7426,7098690,-73.9790,2a1ee03b449700c3a15dd8c9a505c525,3200
99991,1.0,1,2016-04-04 18:22:34,"HIGH END condo finishes, swimming pool, and ki...",Rector Pl,"[Common Outdoor Space, Cats Allowed, Dogs Allo...",low,40.7102,6822449,-74.0163,ef20d40b528500037e37b167787ac089,3950
99992,1.0,1,2016-04-16 02:13:40,Large Renovated One Bedroom Apartment with Sta...,West 45th Street,"[Doorman, Elevator, Pre-War, Dogs Allowed, Cat...",low,40.7601,6881461,-73.9900,d889a9552265fe359e7d36d172084fcb,2595
99993,1.0,0,2016-04-08 02:13:33,Stylishly sleek studio apartment with unsurpas...,Wall Street,"[Doorman, Elevator, Pre-War, Dogs Allowed, Cat...",low,40.7066,6841891,-74.0101,9fd3af5b2d23951e028059e8940a55d7,3350
99994,1.0,2,2016-04-12 02:48:07,Look no further!!! This giant 2 bedroom apart...,Park Terrace East,[Hardwood Floors],low,40.8699,6858245,-73.9172,d7f57128272bfd82e33a61999b5f4c42,2200

In [41]:
train_df['display_address'].unique()

array(['Metropolitan Avenue', 'Columbus Avenue', 'W 13 Street', ...,
       'West 73rd Street and Broadway', 'Ridge Blvd. ', 'Rector Pl'], dtype=object)

In [43]:
from geopy.distance import vincenty
newport_ri = (40.7145, -73.9425)
cleveland_oh = (40.7539, -73.9677)
print(vincenty(newport_ri, cleveland_oh).miles)

3.0233912074325597

In [37]:
train_df["description"]

10        A Brand New 3 Bedroom 1.5 bath ApartmentEnjoy ...
10000
100004    Top Top West Village location, beautiful Pre-w...
100007    Building Amenities - Garage - Garden - fitness...
100013    Beautifully renovated 3 bedroom flex 4 bedroom...
100014
100016    Stunning unit with a great location and lots o...
100020    This huge sunny ,plenty of lights 1 bed/2 bath...
100026                             <p><a  website_redacted
100027    This is a spacious four bedroom with every bed...
100030    New to the market! Spacious studio located in ...
10004     Check out this one bedroom apartment in a grea...
100044    ***LOW FEE. Beautiful CHERRY OAK WOODEN FLOORS...
100048    Lincoln Square's premier full service building...
10005     Spacious 1-Bedroom to fit King-sized bed comfo...
100051    Stunning  full renovated studio unit. High cei...
100052    East Village is a great community with great p...
100053    *Location: Thayer St. &amp; Broadway, Manhatta...
100055
100058
100062    BEAUTIFUL 2 BEDROOM POSSIBLE CONVERSION INTO T...
100063    No fee huge two bedroom apartment. Great locat...
100065
100066    CooperCooper.com :: Web ID #179546; Access 100...
10007     SPRAWLING 2 BEDROOM FOUND! ENJOY THE LUXURY OF...
100071    Amazing 4 bedroom convertible. Remarkably luxu...
100075    Don't miss out on this fantastic apartment.......
100076    The TRUE 1 bedroom apartment features extra la...
100079            Currently under renovation, this one b...
100081    Gut Renovated Apartment with Stainless steel a...
                                ...
99915     Elegant, spacious one bedroom in modern luxury...
99917
99919     (((((IMPORTANT NOTICE))))) If you are planning...
99921     WASHER & DRYER IN UNIT ++ 5 MINUTE WALK TO R T...
99923     Tremendous Classic Six in a Luxurious Prewar D...
99924     Luxury Living--- Full-Time Doorman--- Concierg...
99931     Only one block form Washington Square Park! Ne...
99933     THIS RESIDENCE FEATURES STAINLESS STEAL  APPLI...
99935     This newly renovated 1 bedroom unit is recentl...
99937     Bedroom on top, Living room on bottom<br /><br...
9994      Don't miss out on this spacious and beautiful ...
99953     This exquisitely appointed 1 bedroom, 1 bath r...
99956     This spacious two bedroom apartment features e...
99960     Great Lower East Side one bedroom.Well maintai...
99961     THIS LARGE AND SPACIOUS 3 BD/ONE BA APARTMENT ...
99964     77TH ST! FULLY GUT RENOV STUDIO! HI CEIL! XPSD...
99965     Full-Time Doorman PET FRIENDLYElevator GYMLaun...
99966     This is a Great Opportunity to Rent an Excelle...
99979
99980     Incredibly sunny and spacious studio apartment...
99982     LUXURY BUILDING IN MIDTOWN WEST, 24 HR DOORMAN...
99984     Huge true king size one bedroom in an elevator...
99986     Charming one bedroom! Hardwood floors, sunny, ...
99987     **89th & Park Ave! (block from the central par...
99988     24hr Doorman Luxury building in the heart of t...
9999      30TH/3RD, MASSIVE CONV 2BR IN LUXURY FULL SERV...
99991     HIGH END condo finishes, swimming pool, and ki...
99992     Large Renovated One Bedroom Apartment with Sta...
99993     Stylishly sleek studio apartment with unsurpas...
99994     Look no further!!!  This giant 2 bedroom apart...
Name: description, dtype: object

In [26]:
k="2016-06-24 07:54:24"

In [28]:
k.split('-')[0]

'2016'

In [24]:
train_df['created']

10        2016-06-24 07:54:24
10000     2016-06-12 12:19:27
100004    2016-04-17 03:26:41
100007    2016-04-18 02:22:02
100013    2016-04-28 01:32:41
100014    2016-04-19 04:24:47
100016    2016-04-27 03:19:56
100020    2016-04-13 06:01:42
100026    2016-04-20 02:36:35
100027    2016-04-02 02:58:15
100030    2016-04-14 01:10:30
10004     2016-06-03 03:21:22
100044    2016-04-19 05:37:25
100048    2016-04-09 01:22:11
10005     2016-06-01 03:11:01
100051    2016-04-18 02:36:00
100052    2016-04-22 05:57:16
100053    2016-04-19 03:36:28
100055    2016-04-20 04:00:32
100058    2016-04-09 03:49:42
100062    2016-04-12 02:39:45
100063    2016-04-07 02:11:45
100065    2016-04-13 05:17:43
100066    2016-04-17 02:26:52
10007     2016-06-07 04:39:56
100071    2016-04-27 06:43:40
100075    2016-04-25 02:29:50
100076    2016-04-22 05:39:10
100079    2016-04-21 05:27:10
100081    2016-04-26 02:59:37
                 ...
99915     2016-04-25 01:13:37
99917     2016-04-26 04:43:14
99919     2016-04-08 05:51:57
99921     2016-04-29 15:03:29
99923     2016-04-05 01:12:45
99924     2016-04-24 03:15:18
99931     2016-04-25 01:20:23
99933     2016-04-03 03:51:21
99935     2016-04-19 02:58:55
99937     2016-04-14 05:39:33
9994      2016-06-06 01:22:44
99953     2016-04-26 02:18:16
99956     2016-04-16 16:39:50
99960     2016-04-05 04:35:32
99961     2016-04-22 03:11:44
99964     2016-04-29 05:20:49
99965     2016-04-03 05:23:23
99966     2016-04-15 05:36:39
99979     2016-04-14 03:32:24
99980     2016-04-27 12:52:12
99982     2016-04-07 02:29:00
99984     2016-04-02 03:17:03
99986     2016-04-14 03:39:42
99987     2016-04-11 03:29:05
99988     2016-04-22 15:44:11
9999      2016-06-02 05:41:05
99991     2016-04-04 18:22:34
99992     2016-04-16 02:13:40
99993     2016-04-08 02:13:33
99994     2016-04-12 02:48:07
Name: created, dtype: object

In [32]:
year=lambda x : x.split('-')[1]

In [33]:
train_df['month']=train_df['created'].apply(year)

In [35]:
train_df['month']=n

In [22]:
capitalizer = lambda x: len(x)

In [23]:
m=train_df['features'].apply(capitalizer)

In [24]:
train_df['no_of_features']=m

In [26]:
cols_to_delete = ['latitude','longitude','manager_id','features','listing_id','description','created']
train_df.drop(cols_to_delete,inplace=True,axis=1)

In [38]:
train_df

,bathrooms,bedrooms,interest_level,price,Distance,no_of_features,month
10,1.5,3,medium,3000,1.990931,0,06
10000,1.0,2,low,5465,3.712856,5,06
100004,1.0,1,high,2850,2.426099,4,04
100007,1.0,1,low,3275,1.059418,2,04
100013,1.0,4,low,3350,5.706492,1,04
100014,2.0,4,medium,7995,2.472872,0,04
100016,1.0,2,low,3600,4.151589,8,04
100020,2.0,1,low,5645,2.099995,8,04
100026,1.0,1,medium,1725,5.672636,4,04
100027,2.0,4,low,5800,1.622670,2,04
100030,1.0,0,low,1950,2.485044,0,04
10004,1.0,1,low,1675,7.174888,7,06
100044,1.0,2,high,3000,1.224066,4,04
100048,2.0,2,low,6895,2.430281,6,04
10005,1.0,1,low,3050,1.256962,5,06
100051,1.0,0,medium,2350,0.988796,5,04
100052,1.0,2,low,3650,1.622251,1,04
100053,1.0,1,low,1695,8.594276,5,04
100055,1.0,4,low,5000,4.048952,3,04
100058,1.0,1,low,3973,1.405478,2,04
100062,1.0,3,low,4395,1.533892,4,04
100063,1.0,2,medium,2999,1.245572,9,04
100065,1.0,1,low,2595,0.989106,2,04
100066,1.0,1,low,3695,3.621261,10,04
10007,2.0,4,medium,7400,1.995466,12,06
100071,3.5,4,low,7500,1.267145,12,04
100075,1.0,1,medium,2295,2.176025,3,04
100076,1.0,1,low,3164,2.769139,8,04
100079,1.0,1,high,1350,6.710086,0,04
100081,2.0,2,low,5600,2.091189,8,04
...,...,...,...,...,...,...,...
99915,1.0,1,low,3126,1.657946,5,04
99917,1.0,1,low,3325,2.040032,5,04
99919,1.0,0,medium,2100,2.110543,8,04
99921,1.0,2,medium,3500,9.498649,2,04
99923,2.0,2,low,11950,2.995849,4,04
99924,1.0,1,low,2980,2.156473,6,04
99931,1.0,1,low,2850,2.409177,2,04
99933,1.0,2,low,2885,3.467518,12,04
99935,1.0,1,low,2950,1.587165,0,04
99937,1.5,0,low,2650,2.485044,5,04
9994,1.0,2,low,4850,3.816510,4,06
99953,1.0,1,low,3475,2.040032,7,04
99956,2.0,2,low,5815,3.540952,5,04
99960,1.0,1,medium,2050,2.792946,1,04
99961,2.0,3,low,4600,1.934866,6,04
99964,1.0,0,medium,2000,2.025727,4,04
99965,2.0,3,low,9200,2.468839,9,04
99966,1.0,3,low,4550,1.943926,9,04
99979,1.0,1,low,1900,4.400301,0,04
99980,1.0,0,low,2500,3.648850,7,04
99982,1.0,1,high,2500,2.170667,10,04
99984,1.0,1,low,2675,2.163993,5,04
99986,1.0,1,low,3645,2.403833,2,04
99987,1.0,1,low,2179,3.376163,1,04
99988,1.0,1,medium,4500,1.832607,10,04
9999,1.0,2,medium,3200,1.224194,6,06
99991,1.0,1,low,3950,3.846154,8,04
99992,1.0,1,low,2595,2.208182,5,04
99993,1.0,0,low,3350,3.737014,5,04
99994,1.0,2,low,2200,9.084250,1,04

In [42]:
train_df['price'].describe()

count    4.935200e+04
mean     3.830174e+03
std      2.206687e+04
min      4.300000e+01
25%      2.500000e+03
50%      3.150000e+03
75%      4.100000e+03
max      4.490000e+06
Name: price, dtype: float64

In [3]:
test_df[["listing_id", "display_address","bathrooms", "bedrooms", "latitude", "longitude", "price"]].head()

,listing_id,display_address,bathrooms,bedrooms,latitude,longitude,price
0,7142618,Suffolk Street,1.0,1,40.7185,-73.9865,2950
1,7210040,Thompson Street,1.0,2,40.7278,-74.0000,2850
100,7103890,101 East 10th Street,1.0,1,40.7306,-73.9890,3758
1000,7143442,South Third Street\r,1.0,2,40.7109,-73.9571,3300
100000,6860601,"Midtown West, 8th Ave",2.0,2,40.7650,-73.9845,4900

In [ ]:
train_df.loc[ train_df['Age'] <= 16, 'Age'] 					       = 0
train_df.loc[(train_df['Age'] > 16) & (train_df['Age'] <= 32), 'Age'] = 1
train_df.loc[(train_df['Age'] > 32) & (train_df['Age'] <= 48), 'Age'] = 2
train_df.loc[(train_df['Age'] > 48) & (train_df['Age'] <= 64), 'Age'] = 3
train_df.loc[ train_df['Age'] > 64, 'Age']

In [43]:
##### import pandas as pd
import numpy as np
import pandas as pd
pd.options.mode.chained_assignment = None
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)
 
 
def change_obj_to_category(df):
    i=0;
    while i<df.columns.size:
        if (df.dtypes[df.columns[i]] == 'object' or df.dtypes[df.columns[i]] == 'bool'):
            col = df.dtypes.index[i]
            df[col] = df[col].astype('category')
        i = i+1 
        
def change_int_to_float(df):
    i=0;
    while i<df.columns.size:
        if 'int' in str(df.dtypes[df.columns[i]]):
            col = df.dtypes.index[i]
            df[col] = df[col].astype('float64')
        i = i+1
       
def generateXY(df,target_col,var_list):
   
    #make a copy of the required subset and drop rows containing Na
    mdata = df[var_list+[target_col]].copy()
    mdata.dropna(inplace=True)
   
    #Separate target and put it in Y
    Y = mdata[target_col].tolist()
    del mdata[target_col]
   
    #Now, process data and create dummy variables if required with final data in Xvars
    import pandas
    Xvars = pandas.DataFrame()
    import pandas as pd
    for cols in var_list:
        if (str(mdata[cols].dtype) == 'category'):
            dummySer= pd.get_dummies(mdata[cols],prefix=cols+'_')
            Xvars = pd.concat([Xvars,dummySer],axis=1)
        else:
            Xvars =  pd.concat([Xvars,mdata[cols]],axis=1)
   
    X = Xvars.values.tolist()
   
    return X,Y
        
        
def roc_score_model(model,X,Y):
    from sklearn.metrics import roc_auc_score
    return roc_auc_score(Y,pd.DataFrame((model.predict_proba(X)))[1].tolist())
 
def feature_imp(colNames,imps):
    df = pd.DataFrame(columns=('Feature','Importance'),index=[x for x in range(0,len(colNames))])
    i = 0
    for col in colNames:
        df['Feature'][i] = col
        df['Importance'][i] = imps[i]
        i=i+1
   
    df = df.sort_values(by='Importance',ascending=False)
    return df
 
def predict_th(model,tx,ty,threshold=0.5):
    import pandas as pd
    probs = model.predict_proba(tx)[:,1].tolist()
    predictions = []
    for i in range(0,len(ty)):
        if probs[i]>threshold:
            predictions.append(1)
        else:
            predictions.append(0)
   
    return predictions

In [49]:
print('Starting data read from csv file.')
match_data = train_df

numeric_cols=['bathrooms','bedrooms','price','Distance','no_of_features','month']
print('Deleting columns containing huge missing values, Single valued items and id columns which are of no use.')
print('No data leakage is present as such.')
match_data.interest_level = match_data.interest_level.astype('category')


print('Setting aside 20% of the data as hold_out.')
#Now, let's set 20% of the data as holdout data [test data]
from sklearn.model_selection import train_test_split
train_data, hold_out = train_test_split(match_data, train_size = 0.8,random_state=2135)

 
print('Using standard scaler of sklearn library to Standardize and scale the numeric inputs.')
#Scale the data
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
train_data[numeric_cols] = scaler.fit_transform(train_data[numeric_cols])
hold_out[numeric_cols] = scaler.transform(hold_out[numeric_cols])
 

print('\nFinding Optimal parameters for 4 different models using GridSearch.')
target_col = 'interest_level'
varToUse = train_data.columns.tolist()
varToUse.remove('interest_level')
Train_X,Train_Y = generateXY(train_data,target_col,varToUse)
Test_X,Test_Y = generateXY(hold_out,target_col,varToUse)

Starting data read from csv file.
Deleting columns containing huge missing values, Single valued items and id columns which are of no use.
No data leakage is present as such.
Setting aside 20% of the data as hold_out.
Using standard scaler of sklearn library to Standardize and scale the numeric inputs.

Finding Optimal parameters for 4 different models using GridSearch.

In [79]:
com=match_data
com[numeric_cols] = scaler.fit_transform(com[numeric_cols])
target_col = 'interest_level'
varToUse = com.columns.tolist()
varToUse.remove('interest_level')
Train_X,Train_Y = generateXY(com,target_col,varToUse)

In [80]:
t=com['interest_level'].apply(lambda x:0 if x=="low" else 1 if x=="medium" else 2)

In [81]:
from keras.utils import np_utils
y_train = np_utils.to_categorical(t)
num_classes = y_train.shape[1]

In [83]:
# Import necessary modules
import keras
from keras.layers import Dense
from keras.models import Sequential
from keras.utils import to_categorical
# Import the SGD optimizer
from keras.optimizers import SGD
# Import EarlyStopping
from keras.callbacks import EarlyStopping


# Create list of learning rates: lr_to_test
lr_to_test = [0.0001, 0.001, 0.01,0.1]

# Loop over learning rates
lr=0.001
print('\n\nTesting model with learning rate: %f\n'%lr )

# Define early_stopping_monitor
early_stopping_monitor = EarlyStopping(patience=2)
    
    # Build new model to test, unaffected by previous models
model = Sequential()
model.add(Dense(100, activation='relu', input_shape = (6,)))
model.add(Dense(100, activation='relu'))
model.add(Dense(100, activation='relu'))
model.add(Dense(100, activation='relu'))
model.add(Dense(100, activation='relu'))
model.add(Dense(100, activation='relu'))
model.add(Dense(3, activation='softmax'))

epochs = 30
lrate = 0.01
decay = lrate/epochs
sgd = SGD(lr=lrate, momentum=0.9, decay=decay, nesterov=False)
model.compile(loss='categorical_crossentropy', optimizer=sgd, metrics=['accuracy'])
# Create SGD optimizer with specified learning rate: my_optimizer
    
# Fit the model
model.fit(Train_X,y_train,epochs=30,validation_split=0.05,callbacks=[early_stopping_monitor])

Testing model with learning rate: 0.001000

Train on 46884 samples, validate on 2468 samples
Epoch 1/30
46884/46884 [==============================] - 5s - loss: 0.7744 - acc: 0.6947 - val_loss: 0.7675 - val_acc: 0.6941
Epoch 2/30
46884/46884 [==============================] - 4s - loss: 0.7441 - acc: 0.6947 - val_loss: 0.7519 - val_acc: 0.6945
Epoch 3/30
46884/46884 [==============================] - 4s - loss: 0.7247 - acc: 0.6946 - val_loss: 0.7143 - val_acc: 0.6941
Epoch 4/30
46884/46884 [==============================] - 4s - loss: 0.7153 - acc: 0.6948 - val_loss: 0.7041 - val_acc: 0.6933
Epoch 5/30
46884/46884 [==============================] - 4s - loss: 0.7074 - acc: 0.6954 - val_loss: 0.7132 - val_acc: 0.6937
Epoch 6/30
46884/46884 [==============================] - 4s - loss: 0.7024 - acc: 0.6950 - val_loss: 0.7115 - val_acc: 0.6929
Epoch 7/30
46884/46884 [==============================] - 4s - loss: 0.7001 - acc: 0.6952 - val_loss: 0.7043 - val_acc: 0.6953

In [76]:
predictions = model.predict(Test_X)

# Calculate predicted probability of survival: predicted_prob_true
predicted_prob_true = predictions[:,1]

# print predicted_prob_true
print(predicted_prob_true)

[ 0.36482     0.23570202  0.16619475 ...,  0.06680176  0.03400442
  0.00403398]

In [95]:
Test_Y[1]

'low'

In [78]:
predictions[1]

array([ 0.72400552,  0.23570202,  0.04029242], dtype=float32)

In [84]:
test=test_df
cols_to_delete = ['photos','building_id','street_address','display_address']
test.drop(cols_to_delete,inplace=True,axis=1)
a=[]
for index, row in test.iterrows():
    a.append(distance(row['latitude'],row['longitude']))
test["Distance"]=a
year=lambda x : x.split('-')[1]
test['month']=test['created'].apply(year)
capitalizer = lambda x: len(x)
m=test['features'].apply(capitalizer)
test['no_of_features']=m
cols_to_delete = ['latitude','longitude','manager_id','features','listing_id','description','created']
test.drop(cols_to_delete,inplace=True,axis=1)

In [89]:
print('Starting data read from csv file.')
match_data_test = test

numeric_cols=['bathrooms','bedrooms','price','Distance','no_of_features','month']
print('Deleting columns containing huge missing values, Single valued items and id columns which are of no use.')
print('No data leakage is present as such.')
match_data_test.interest_level = match_data.interest_level.astype('category')

print('Using standard scaler of sklearn library to Standardize and scale the numeric inputs.')
#Scale the data
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
match_data_test[numeric_cols] = scaler.fit_transform(match_data_test[numeric_cols])
 

print('\nFinding Optimal parameters for 4 different models using GridSearch.')
varToUse = match_data_test.columns.tolist()
Train_X = generateX(match_data_test,varToUse)

Starting data read from csv file.
Deleting columns containing huge missing values, Single valued items and id columns which are of no use.
No data leakage is present as such.
Using standard scaler of sklearn library to Standardize and scale the numeric inputs.

Finding Optimal parameters for 4 different models using GridSearch.

In [87]:
def generateX(df,var_list):
   
    #make a copy of the required subset and drop rows containing Na
    mdata = df[var_list].copy()
    mdata.dropna(inplace=True)
   
    #Now, process data and create dummy variables if required with final data in Xvars
    import pandas
    Xvars = pandas.DataFrame()
    import pandas as pd
    for cols in var_list:
        if (str(mdata[cols].dtype) == 'category'):
            dummySer= pd.get_dummies(mdata[cols],prefix=cols+'_')
            Xvars = pd.concat([Xvars,dummySer],axis=1)
        else:
            Xvars =  pd.concat([Xvars,mdata[cols]],axis=1)
   
    X = Xvars.values.tolist()
    return X

In [90]:
# Calculate predictions: predictions
predictions = model.predict(Train_X)

In [91]:
predictions.shape

(74659, 3)

In [93]:
import pandas as pd
predictions_test=pd.DataFrame(predictions)
predictions_test.to_csv("predictions_rent.csv")

Kaggle Code:

In [141]:
import os
import sys
import operator
import numpy as np
import pandas as pd
from scipy import sparse
import xgboost as xgb
from sklearn import model_selection, preprocessing, ensemble
from sklearn.metrics import log_loss
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer

In [151]:
def runXGB(train_X, train_y, test_X, test_y=None, feature_names=None, seed_val=0, num_rounds=1000):
    param = {}
    param['objective'] = 'multi:softprob'
    param['eta'] = 0.1
    param['max_depth'] = 6
    param['silent'] = 1
    param['num_class'] = 3
    param['eval_metric'] = "mlogloss"
    param['min_child_weight'] = 1
    param['subsample'] = 0.7
    param['colsample_bytree'] = 0.7
    param['seed'] = seed_val
    num_rounds = num_rounds

    plst = list(param.items())
    xgtrain = xgb.DMatrix(train_X, label=train_y)

    if test_y is not None:
        xgtest = xgb.DMatrix(test_X, label=test_y)
        watchlist = [ (xgtrain,'train'), (xgtest, 'test') ]
        model = xgb.train(plst, xgtrain, num_rounds, watchlist, early_stopping_rounds=20)
    else:
        xgtest = xgb.DMatrix(test_X)
        model = xgb.train(plst, xgtrain, num_rounds)

    pred_test_y = model.predict(xgtest)
    return pred_test_y, model

In [197]:
data_path = "../input/"
train_file = "train.json"
test_file ="test.json"
train_df = pd.read_json(train_file)
test_df = pd.read_json(test_file)
print(train_df.shape)
print(test_df.shape)

(49352, 15)
(74659, 14)

In [198]:
features_to_use  = ["bathrooms", "bedrooms", "latitude", "longitude", "price"]
#features_to_use  = ["bathrooms", "bedrooms", "price"]

In [200]:
# count of photos #
train_df["num_photos"] = train_df["photos"].apply(len)
test_df["num_photos"] = test_df["photos"].apply(len)

a=[]
for index, row in train_df.iterrows():
    a.append(distance(row['latitude'],row['longitude']))
train_df["Distance"]=a

a=[]
for index, row in test_df.iterrows():
    a.append(distance(row['latitude'],row['longitude']))
test_df["Distance"]=a


# count of "features" #
train_df["num_features"] = train_df["features"].apply(len)
test_df["num_features"] = test_df["features"].apply(len)

# count of words present in description column #
train_df["num_description_words"] = train_df["description"].apply(lambda x: len(x.split(" ")))
test_df["num_description_words"] = test_df["description"].apply(lambda x: len(x.split(" ")))

# convert the created column to datetime object so as to extract more features 
train_df["created"] = pd.to_datetime(train_df["created"])
test_df["created"] = pd.to_datetime(test_df["created"])

# Let us extract some features like year, month, day, hour from date columns #
train_df["created_year"] = train_df["created"].dt.year
test_df["created_year"] = test_df["created"].dt.year
train_df["created_month"] = train_df["created"].dt.month
test_df["created_month"] = test_df["created"].dt.month
train_df["created_day"] = train_df["created"].dt.day
test_df["created_day"] = test_df["created"].dt.day
train_df["created_hour"] = train_df["created"].dt.hour
test_df["created_hour"] = test_df["created"].dt.hour

# adding all these new features to use list #
#features_to_use.extend(["num_photos", "num_features", "num_description_words","created_year", "created_month", "created_day", "listing_id", "created_hour"])
features_to_use.extend(["num_photos", "num_features", "num_description_words", "Distance","listing_id","created_month", "created_day",  "created_hour"])

In [201]:
categorical = ["display_address", "manager_id", "building_id", "street_address"]
for f in categorical:
        if train_df[f].dtype=='object':
            #print(f)
            lbl = preprocessing.LabelEncoder()
            lbl.fit(list(train_df[f].values) + list(test_df[f].values))
            train_df[f] = lbl.transform(list(train_df[f].values))
            test_df[f] = lbl.transform(list(test_df[f].values))
            features_to_use.append(f)

In [202]:
train_df['features'] = train_df["features"].apply(lambda x: " ".join(["_".join(i.split(" ")) for i in x]))
test_df['features'] = test_df["features"].apply(lambda x: " ".join(["_".join(i.split(" ")) for i in x]))
print(train_df["features"].head())
tfidf = CountVectorizer(stop_words='english', max_features=150)
tr_sparse = tfidf.fit_transform(train_df["features"])
te_sparse = tfidf.transform(test_df["features"])

10
10000     Doorman Elevator Fitness_Center Cats_Allowed D...
100004    Laundry_In_Building Dishwasher Hardwood_Floors...
100007                               Hardwood_Floors No_Fee
100013                                              Pre-War
Name: features, dtype: object

In [203]:
#train_df['description'] = train_df["description"].apply(lambda x: " ".join(["_".join(i.split(" ")) for i in x]))
#test_df['description'] = test_df["description"].apply(lambda x: " ".join(["_".join(i.split(" ")) for i in x]))
print(train_df["description"].head())
tfidf = CountVectorizer(stop_words='english', max_features=100)
tr_sparse1 = tfidf.fit_transform(train_df["description"])
te_sparse1 = tfidf.transform(test_df["description"])

10        A Brand New 3 Bedroom 1.5 bath ApartmentEnjoy ...
10000
100004    Top Top West Village location, beautiful Pre-w...
100007    Building Amenities - Garage - Garden - fitness...
100013    Beautifully renovated 3 bedroom flex 4 bedroom...
Name: description, dtype: object

In [204]:
train_X = sparse.hstack([train_df[features_to_use], tr_sparse,tr_sparse1]).tocsr()
test_X = sparse.hstack([test_df[features_to_use], te_sparse,te_sparse1]).tocsr()

target_num_map = {'high':0, 'medium':1, 'low':2}
train_y = np.array(train_df['interest_level'].apply(lambda x: target_num_map[x]))
print(train_X.shape, test_X.shape)

(49352, 267) (74659, 267)

In [205]:
cv_scores = []
kf = model_selection.KFold(n_splits=5, shuffle=True, random_state=2016)
for dev_index, val_index in kf.split(range(train_X.shape[0])):
        dev_X, val_X = train_X[dev_index,:], train_X[val_index,:]
        dev_y, val_y = train_y[dev_index], train_y[val_index]
        preds, model = runXGB(dev_X, dev_y, val_X, val_y)
        cv_scores.append(log_loss(val_y, preds))
        print(cv_scores)
        break

[0]	train-mlogloss:1.03707	test-mlogloss:1.03848
Multiple eval metrics have been passed: 'test-mlogloss' will be used for early stopping.

Will train until test-mlogloss hasn't improved in 20 rounds.
[1]	train-mlogloss:0.987857	test-mlogloss:0.990305
[2]	train-mlogloss:0.946093	test-mlogloss:0.949247
[3]	train-mlogloss:0.908338	test-mlogloss:0.91239
[4]	train-mlogloss:0.873321	test-mlogloss:0.878494
[5]	train-mlogloss:0.845121	test-mlogloss:0.851339
[6]	train-mlogloss:0.819193	test-mlogloss:0.82629
[7]	train-mlogloss:0.795103	test-mlogloss:0.803063
[8]	train-mlogloss:0.775901	test-mlogloss:0.784657
[9]	train-mlogloss:0.760272	test-mlogloss:0.769731
[10]	train-mlogloss:0.743722	test-mlogloss:0.754087
[11]	train-mlogloss:0.729279	test-mlogloss:0.740497
[12]	train-mlogloss:0.714859	test-mlogloss:0.72706
[13]	train-mlogloss:0.702144	test-mlogloss:0.715106
[14]	train-mlogloss:0.689939	test-mlogloss:0.703663
[15]	train-mlogloss:0.679837	test-mlogloss:0.694461
[16]	train-mlogloss:0.671101	test-mlogloss:0.686771
[17]	train-mlogloss:0.663232	test-mlogloss:0.679724
[18]	train-mlogloss:0.655771	test-mlogloss:0.673189
[19]	train-mlogloss:0.648487	test-mlogloss:0.666678
[20]	train-mlogloss:0.642695	test-mlogloss:0.661552
[21]	train-mlogloss:0.637303	test-mlogloss:0.656811
[22]	train-mlogloss:0.633129	test-mlogloss:0.653203
[23]	train-mlogloss:0.627209	test-mlogloss:0.648154
[24]	train-mlogloss:0.622863	test-mlogloss:0.644455
[25]	train-mlogloss:0.618537	test-mlogloss:0.64077
[26]	train-mlogloss:0.614619	test-mlogloss:0.637665
[27]	train-mlogloss:0.611209	test-mlogloss:0.635004
[28]	train-mlogloss:0.607581	test-mlogloss:0.632086
[29]	train-mlogloss:0.602947	test-mlogloss:0.628822
[30]	train-mlogloss:0.59925	test-mlogloss:0.626146
[31]	train-mlogloss:0.595653	test-mlogloss:0.623436
[32]	train-mlogloss:0.592198	test-mlogloss:0.620857
[33]	train-mlogloss:0.589078	test-mlogloss:0.618626
[34]	train-mlogloss:0.58593	test-mlogloss:0.616675
[35]	train-mlogloss:0.58334	test-mlogloss:0.614855
[36]	train-mlogloss:0.580652	test-mlogloss:0.613033
[37]	train-mlogloss:0.578305	test-mlogloss:0.611539
[38]	train-mlogloss:0.575993	test-mlogloss:0.609843
[39]	train-mlogloss:0.573601	test-mlogloss:0.608316
[40]	train-mlogloss:0.571359	test-mlogloss:0.606792
[41]	train-mlogloss:0.568741	test-mlogloss:0.605121
[42]	train-mlogloss:0.566225	test-mlogloss:0.60345
[43]	train-mlogloss:0.563904	test-mlogloss:0.602285
[44]	train-mlogloss:0.562046	test-mlogloss:0.601077
[45]	train-mlogloss:0.560294	test-mlogloss:0.600274
[46]	train-mlogloss:0.558527	test-mlogloss:0.599253
[47]	train-mlogloss:0.556109	test-mlogloss:0.597784
[48]	train-mlogloss:0.554312	test-mlogloss:0.596742
[49]	train-mlogloss:0.551646	test-mlogloss:0.594985
[50]	train-mlogloss:0.549402	test-mlogloss:0.593958
[51]	train-mlogloss:0.54729	test-mlogloss:0.592813
[52]	train-mlogloss:0.545626	test-mlogloss:0.59177
[53]	train-mlogloss:0.544129	test-mlogloss:0.591001
[54]	train-mlogloss:0.542345	test-mlogloss:0.590088
[55]	train-mlogloss:0.540935	test-mlogloss:0.589562
[56]	train-mlogloss:0.539446	test-mlogloss:0.588778
[57]	train-mlogloss:0.537419	test-mlogloss:0.587753
[58]	train-mlogloss:0.535134	test-mlogloss:0.586479
[59]	train-mlogloss:0.533291	test-mlogloss:0.585429
[60]	train-mlogloss:0.531643	test-mlogloss:0.58473
[61]	train-mlogloss:0.529905	test-mlogloss:0.583519
[62]	train-mlogloss:0.528515	test-mlogloss:0.582856
[63]	train-mlogloss:0.526797	test-mlogloss:0.581971
[64]	train-mlogloss:0.52522	test-mlogloss:0.581238
[65]	train-mlogloss:0.523736	test-mlogloss:0.580727
[66]	train-mlogloss:0.522423	test-mlogloss:0.580164
[67]	train-mlogloss:0.52059	test-mlogloss:0.579159
[68]	train-mlogloss:0.518932	test-mlogloss:0.578582
[69]	train-mlogloss:0.517579	test-mlogloss:0.577993
[70]	train-mlogloss:0.516319	test-mlogloss:0.577578
[71]	train-mlogloss:0.515242	test-mlogloss:0.577286
[72]	train-mlogloss:0.513936	test-mlogloss:0.576925
[73]	train-mlogloss:0.512684	test-mlogloss:0.576614
[74]	train-mlogloss:0.511244	test-mlogloss:0.575889
[75]	train-mlogloss:0.510075	test-mlogloss:0.575633
[76]	train-mlogloss:0.508884	test-mlogloss:0.575175
[77]	train-mlogloss:0.507674	test-mlogloss:0.574956
[78]	train-mlogloss:0.50658	test-mlogloss:0.574666
[79]	train-mlogloss:0.505753	test-mlogloss:0.574504
[80]	train-mlogloss:0.504515	test-mlogloss:0.574009
[81]	train-mlogloss:0.503305	test-mlogloss:0.57342
[82]	train-mlogloss:0.502322	test-mlogloss:0.573134
[83]	train-mlogloss:0.500977	test-mlogloss:0.572748
[84]	train-mlogloss:0.499516	test-mlogloss:0.572461
[85]	train-mlogloss:0.4985	test-mlogloss:0.572092
[86]	train-mlogloss:0.497535	test-mlogloss:0.57172
[87]	train-mlogloss:0.496334	test-mlogloss:0.57139
[88]	train-mlogloss:0.495009	test-mlogloss:0.571195
[89]	train-mlogloss:0.494068	test-mlogloss:0.570925
[90]	train-mlogloss:0.493029	test-mlogloss:0.570616
[91]	train-mlogloss:0.491828	test-mlogloss:0.570167
[92]	train-mlogloss:0.490698	test-mlogloss:0.569821
[93]	train-mlogloss:0.489462	test-mlogloss:0.569425
[94]	train-mlogloss:0.48855	test-mlogloss:0.569221
[95]	train-mlogloss:0.487725	test-mlogloss:0.569194
[96]	train-mlogloss:0.486456	test-mlogloss:0.5689
[97]	train-mlogloss:0.485436	test-mlogloss:0.568519
[98]	train-mlogloss:0.484324	test-mlogloss:0.568044
[99]	train-mlogloss:0.483364	test-mlogloss:0.567689
[100]	train-mlogloss:0.482413	test-mlogloss:0.567446
[101]	train-mlogloss:0.481419	test-mlogloss:0.567169
[102]	train-mlogloss:0.480503	test-mlogloss:0.566996
[103]	train-mlogloss:0.479488	test-mlogloss:0.566835
[104]	train-mlogloss:0.4782	test-mlogloss:0.566734
[105]	train-mlogloss:0.477222	test-mlogloss:0.566354
[106]	train-mlogloss:0.476145	test-mlogloss:0.566078
[107]	train-mlogloss:0.475163	test-mlogloss:0.565647
[108]	train-mlogloss:0.474305	test-mlogloss:0.565428
[109]	train-mlogloss:0.473214	test-mlogloss:0.564995
[110]	train-mlogloss:0.472551	test-mlogloss:0.564784
[111]	train-mlogloss:0.471561	test-mlogloss:0.564683
[112]	train-mlogloss:0.470876	test-mlogloss:0.564347
[113]	train-mlogloss:0.46984	test-mlogloss:0.564
[114]	train-mlogloss:0.468689	test-mlogloss:0.56378
[115]	train-mlogloss:0.467721	test-mlogloss:0.56345
[116]	train-mlogloss:0.466829	test-mlogloss:0.563177
[117]	train-mlogloss:0.465921	test-mlogloss:0.562917
[118]	train-mlogloss:0.464931	test-mlogloss:0.562595
[119]	train-mlogloss:0.464035	test-mlogloss:0.562335
[120]	train-mlogloss:0.462855	test-mlogloss:0.562284
[121]	train-mlogloss:0.46184	test-mlogloss:0.561902
[122]	train-mlogloss:0.46083	test-mlogloss:0.561744
[123]	train-mlogloss:0.459806	test-mlogloss:0.561553
[124]	train-mlogloss:0.458885	test-mlogloss:0.561374
[125]	train-mlogloss:0.458001	test-mlogloss:0.561129
[126]	train-mlogloss:0.457341	test-mlogloss:0.561087
[127]	train-mlogloss:0.45651	test-mlogloss:0.560908
[128]	train-mlogloss:0.455707	test-mlogloss:0.560878
[129]	train-mlogloss:0.455217	test-mlogloss:0.560632
[130]	train-mlogloss:0.454535	test-mlogloss:0.560455
[131]	train-mlogloss:0.453667	test-mlogloss:0.560156
[132]	train-mlogloss:0.452758	test-mlogloss:0.559961
[133]	train-mlogloss:0.451934	test-mlogloss:0.559882
[134]	train-mlogloss:0.451157	test-mlogloss:0.559772
[135]	train-mlogloss:0.450302	test-mlogloss:0.559713
[136]	train-mlogloss:0.449756	test-mlogloss:0.5595
[137]	train-mlogloss:0.44911	test-mlogloss:0.559266
[138]	train-mlogloss:0.448483	test-mlogloss:0.559095
[139]	train-mlogloss:0.447954	test-mlogloss:0.559014
[140]	train-mlogloss:0.447097	test-mlogloss:0.558822
[141]	train-mlogloss:0.446526	test-mlogloss:0.558707
[142]	train-mlogloss:0.445593	test-mlogloss:0.558697
[143]	train-mlogloss:0.444982	test-mlogloss:0.558594
[144]	train-mlogloss:0.444051	test-mlogloss:0.558411
[145]	train-mlogloss:0.443257	test-mlogloss:0.558215
[146]	train-mlogloss:0.44237	test-mlogloss:0.558059
[147]	train-mlogloss:0.441622	test-mlogloss:0.557947
[148]	train-mlogloss:0.440719	test-mlogloss:0.55763
[149]	train-mlogloss:0.440065	test-mlogloss:0.557471
[150]	train-mlogloss:0.439067	test-mlogloss:0.557123
[151]	train-mlogloss:0.438374	test-mlogloss:0.556916
[152]	train-mlogloss:0.437596	test-mlogloss:0.556805
[153]	train-mlogloss:0.436936	test-mlogloss:0.556684
[154]	train-mlogloss:0.435964	test-mlogloss:0.55652
[155]	train-mlogloss:0.435259	test-mlogloss:0.556468
[156]	train-mlogloss:0.43463	test-mlogloss:0.556371
[157]	train-mlogloss:0.433839	test-mlogloss:0.556282
[158]	train-mlogloss:0.433154	test-mlogloss:0.556164
[159]	train-mlogloss:0.432367	test-mlogloss:0.556074
[160]	train-mlogloss:0.431421	test-mlogloss:0.555843
[161]	train-mlogloss:0.430637	test-mlogloss:0.555746
[162]	train-mlogloss:0.429809	test-mlogloss:0.555626
[163]	train-mlogloss:0.429057	test-mlogloss:0.55552
[164]	train-mlogloss:0.428219	test-mlogloss:0.55531
[165]	train-mlogloss:0.427568	test-mlogloss:0.555123
[166]	train-mlogloss:0.426813	test-mlogloss:0.554964
[167]	train-mlogloss:0.425945	test-mlogloss:0.554795
[168]	train-mlogloss:0.425392	test-mlogloss:0.554681
[169]	train-mlogloss:0.424645	test-mlogloss:0.554584
[170]	train-mlogloss:0.424035	test-mlogloss:0.55454
[171]	train-mlogloss:0.423146	test-mlogloss:0.554435
[172]	train-mlogloss:0.422601	test-mlogloss:0.554401
[173]	train-mlogloss:0.422092	test-mlogloss:0.554305
[174]	train-mlogloss:0.421398	test-mlogloss:0.554319
[175]	train-mlogloss:0.420593	test-mlogloss:0.55428
[176]	train-mlogloss:0.41981	test-mlogloss:0.5542
[177]	train-mlogloss:0.418978	test-mlogloss:0.554175
[178]	train-mlogloss:0.418237	test-mlogloss:0.554046
[179]	train-mlogloss:0.417513	test-mlogloss:0.553937
[180]	train-mlogloss:0.416718	test-mlogloss:0.553762
[181]	train-mlogloss:0.416201	test-mlogloss:0.553656
[182]	train-mlogloss:0.415552	test-mlogloss:0.553615
[183]	train-mlogloss:0.414727	test-mlogloss:0.553602
[184]	train-mlogloss:0.414039	test-mlogloss:0.553486
[185]	train-mlogloss:0.413484	test-mlogloss:0.553301
[186]	train-mlogloss:0.412727	test-mlogloss:0.553244
[187]	train-mlogloss:0.411925	test-mlogloss:0.553085
[188]	train-mlogloss:0.411408	test-mlogloss:0.552945
[189]	train-mlogloss:0.410855	test-mlogloss:0.55287
[190]	train-mlogloss:0.410238	test-mlogloss:0.552835
[191]	train-mlogloss:0.409736	test-mlogloss:0.552771
[192]	train-mlogloss:0.409124	test-mlogloss:0.55274
[193]	train-mlogloss:0.408521	test-mlogloss:0.552603
[194]	train-mlogloss:0.408076	test-mlogloss:0.552496
[195]	train-mlogloss:0.407454	test-mlogloss:0.552343
[196]	train-mlogloss:0.406744	test-mlogloss:0.552227
[197]	train-mlogloss:0.406039	test-mlogloss:0.552071
[198]	train-mlogloss:0.405258	test-mlogloss:0.551913
[199]	train-mlogloss:0.404588	test-mlogloss:0.551801
[200]	train-mlogloss:0.403935	test-mlogloss:0.551668
[201]	train-mlogloss:0.403457	test-mlogloss:0.551625
[202]	train-mlogloss:0.402892	test-mlogloss:0.551609
[203]	train-mlogloss:0.402157	test-mlogloss:0.551494
[204]	train-mlogloss:0.401642	test-mlogloss:0.551487
[205]	train-mlogloss:0.401114	test-mlogloss:0.551429
[206]	train-mlogloss:0.400446	test-mlogloss:0.551531
[207]	train-mlogloss:0.399922	test-mlogloss:0.551432
[208]	train-mlogloss:0.399428	test-mlogloss:0.551401
[209]	train-mlogloss:0.398615	test-mlogloss:0.551308
[210]	train-mlogloss:0.398049	test-mlogloss:0.551249
[211]	train-mlogloss:0.397608	test-mlogloss:0.55126
[212]	train-mlogloss:0.396969	test-mlogloss:0.551211
[213]	train-mlogloss:0.396372	test-mlogloss:0.551332
[214]	train-mlogloss:0.395613	test-mlogloss:0.551235
[215]	train-mlogloss:0.395046	test-mlogloss:0.551143
[216]	train-mlogloss:0.394385	test-mlogloss:0.55113
[217]	train-mlogloss:0.39381	test-mlogloss:0.55094
[218]	train-mlogloss:0.393247	test-mlogloss:0.550819
[219]	train-mlogloss:0.392658	test-mlogloss:0.550674
[220]	train-mlogloss:0.392006	test-mlogloss:0.550717
[221]	train-mlogloss:0.391628	test-mlogloss:0.550712
[222]	train-mlogloss:0.390912	test-mlogloss:0.550597
[223]	train-mlogloss:0.390258	test-mlogloss:0.550624
[224]	train-mlogloss:0.389497	test-mlogloss:0.550464
[225]	train-mlogloss:0.388961	test-mlogloss:0.550498
[226]	train-mlogloss:0.388504	test-mlogloss:0.55043
[227]	train-mlogloss:0.387994	test-mlogloss:0.550421
[228]	train-mlogloss:0.387483	test-mlogloss:0.550339
[229]	train-mlogloss:0.386703	test-mlogloss:0.550319
[230]	train-mlogloss:0.38606	test-mlogloss:0.550336
[231]	train-mlogloss:0.385482	test-mlogloss:0.550232
[232]	train-mlogloss:0.384819	test-mlogloss:0.550347
[233]	train-mlogloss:0.384219	test-mlogloss:0.550238
[234]	train-mlogloss:0.383414	test-mlogloss:0.55021
[235]	train-mlogloss:0.382798	test-mlogloss:0.550239
[236]	train-mlogloss:0.382321	test-mlogloss:0.550256
[237]	train-mlogloss:0.381589	test-mlogloss:0.550131
[238]	train-mlogloss:0.380918	test-mlogloss:0.550183
[239]	train-mlogloss:0.380464	test-mlogloss:0.550022
[240]	train-mlogloss:0.380038	test-mlogloss:0.550007
[241]	train-mlogloss:0.379543	test-mlogloss:0.549897
[242]	train-mlogloss:0.379008	test-mlogloss:0.549772
[243]	train-mlogloss:0.378492	test-mlogloss:0.549817
[244]	train-mlogloss:0.377842	test-mlogloss:0.549723
[245]	train-mlogloss:0.377289	test-mlogloss:0.549596
[246]	train-mlogloss:0.376666	test-mlogloss:0.549594
[247]	train-mlogloss:0.375934	test-mlogloss:0.549531
[248]	train-mlogloss:0.37537	test-mlogloss:0.549509
[249]	train-mlogloss:0.374682	test-mlogloss:0.549434
[250]	train-mlogloss:0.374235	test-mlogloss:0.549449
[251]	train-mlogloss:0.373889	test-mlogloss:0.549458
[252]	train-mlogloss:0.373291	test-mlogloss:0.549442
[253]	train-mlogloss:0.372793	test-mlogloss:0.549481
[254]	train-mlogloss:0.372131	test-mlogloss:0.549449
[255]	train-mlogloss:0.371559	test-mlogloss:0.549505
[256]	train-mlogloss:0.371101	test-mlogloss:0.549528
[257]	train-mlogloss:0.37056	test-mlogloss:0.549596
[258]	train-mlogloss:0.369905	test-mlogloss:0.54955
[259]	train-mlogloss:0.369624	test-mlogloss:0.549479
[260]	train-mlogloss:0.369219	test-mlogloss:0.549382
[261]	train-mlogloss:0.368757	test-mlogloss:0.549408
[262]	train-mlogloss:0.368203	test-mlogloss:0.549409
[263]	train-mlogloss:0.367914	test-mlogloss:0.549281
[264]	train-mlogloss:0.367322	test-mlogloss:0.54924
[265]	train-mlogloss:0.366847	test-mlogloss:0.549193
[266]	train-mlogloss:0.36623	test-mlogloss:0.549142
[267]	train-mlogloss:0.365685	test-mlogloss:0.54908
[268]	train-mlogloss:0.365201	test-mlogloss:0.549137
[269]	train-mlogloss:0.364818	test-mlogloss:0.549218
[270]	train-mlogloss:0.364175	test-mlogloss:0.549096
[271]	train-mlogloss:0.36374	test-mlogloss:0.549029
[272]	train-mlogloss:0.363137	test-mlogloss:0.549074
[273]	train-mlogloss:0.362591	test-mlogloss:0.549085
[274]	train-mlogloss:0.362303	test-mlogloss:0.549094
[275]	train-mlogloss:0.361957	test-mlogloss:0.549029
[276]	train-mlogloss:0.361391	test-mlogloss:0.548997
[277]	train-mlogloss:0.361075	test-mlogloss:0.549028
[278]	train-mlogloss:0.360659	test-mlogloss:0.549047
[279]	train-mlogloss:0.360216	test-mlogloss:0.549198
[280]	train-mlogloss:0.359572	test-mlogloss:0.549114
[281]	train-mlogloss:0.359036	test-mlogloss:0.549154
[282]	train-mlogloss:0.358471	test-mlogloss:0.549152
[283]	train-mlogloss:0.358059	test-mlogloss:0.549214
[284]	train-mlogloss:0.357584	test-mlogloss:0.549297
[285]	train-mlogloss:0.356853	test-mlogloss:0.549209
[286]	train-mlogloss:0.356424	test-mlogloss:0.549263
[287]	train-mlogloss:0.355827	test-mlogloss:0.549322
[288]	train-mlogloss:0.355417	test-mlogloss:0.549257
[289]	train-mlogloss:0.354759	test-mlogloss:0.549291
[290]	train-mlogloss:0.354405	test-mlogloss:0.549343
[291]	train-mlogloss:0.353927	test-mlogloss:0.549267
[292]	train-mlogloss:0.353491	test-mlogloss:0.549199
[293]	train-mlogloss:0.352769	test-mlogloss:0.549132
[294]	train-mlogloss:0.352167	test-mlogloss:0.549097
[295]	train-mlogloss:0.351605	test-mlogloss:0.549005
[296]	train-mlogloss:0.350924	test-mlogloss:0.548982
[297]	train-mlogloss:0.3504	test-mlogloss:0.549058
[298]	train-mlogloss:0.349895	test-mlogloss:0.548956
[299]	train-mlogloss:0.349456	test-mlogloss:0.548828
[300]	train-mlogloss:0.348838	test-mlogloss:0.548836
[301]	train-mlogloss:0.348273	test-mlogloss:0.548882
[302]	train-mlogloss:0.347865	test-mlogloss:0.548969
[303]	train-mlogloss:0.347215	test-mlogloss:0.548997
[304]	train-mlogloss:0.3468	test-mlogloss:0.548929
[305]	train-mlogloss:0.346352	test-mlogloss:0.548932
[306]	train-mlogloss:0.345937	test-mlogloss:0.548939
[307]	train-mlogloss:0.345183	test-mlogloss:0.548932
[308]	train-mlogloss:0.344625	test-mlogloss:0.549012
[309]	train-mlogloss:0.344073	test-mlogloss:0.548868
[310]	train-mlogloss:0.343811	test-mlogloss:0.548858
[311]	train-mlogloss:0.34349	test-mlogloss:0.548876
[312]	train-mlogloss:0.343204	test-mlogloss:0.548966
[313]	train-mlogloss:0.342598	test-mlogloss:0.548855
[314]	train-mlogloss:0.341975	test-mlogloss:0.548778
[315]	train-mlogloss:0.341456	test-mlogloss:0.548733
[316]	train-mlogloss:0.34103	test-mlogloss:0.548678
[317]	train-mlogloss:0.340457	test-mlogloss:0.548812
[318]	train-mlogloss:0.340137	test-mlogloss:0.548748
[319]	train-mlogloss:0.339701	test-mlogloss:0.548783
[320]	train-mlogloss:0.339122	test-mlogloss:0.54874
[321]	train-mlogloss:0.33855	test-mlogloss:0.548789
[322]	train-mlogloss:0.337936	test-mlogloss:0.548765
[323]	train-mlogloss:0.337617	test-mlogloss:0.548753
[324]	train-mlogloss:0.337269	test-mlogloss:0.548786
[325]	train-mlogloss:0.336673	test-mlogloss:0.548837
[326]	train-mlogloss:0.336148	test-mlogloss:0.548807
[327]	train-mlogloss:0.335696	test-mlogloss:0.548899
[328]	train-mlogloss:0.335256	test-mlogloss:0.548967
[329]	train-mlogloss:0.334844	test-mlogloss:0.548892
[330]	train-mlogloss:0.334326	test-mlogloss:0.548856
[331]	train-mlogloss:0.334003	test-mlogloss:0.548729
[332]	train-mlogloss:0.333662	test-mlogloss:0.548795
[333]	train-mlogloss:0.333265	test-mlogloss:0.548761
[334]	train-mlogloss:0.332768	test-mlogloss:0.548754
[335]	train-mlogloss:0.332301	test-mlogloss:0.548619
[336]	train-mlogloss:0.331723	test-mlogloss:0.548591
[337]	train-mlogloss:0.33134	test-mlogloss:0.548727
[338]	train-mlogloss:0.330767	test-mlogloss:0.548829
[339]	train-mlogloss:0.330366	test-mlogloss:0.548801
[340]	train-mlogloss:0.329811	test-mlogloss:0.548733
[341]	train-mlogloss:0.329396	test-mlogloss:0.548771
[342]	train-mlogloss:0.328969	test-mlogloss:0.548838
[343]	train-mlogloss:0.328654	test-mlogloss:0.548783
[344]	train-mlogloss:0.328262	test-mlogloss:0.548806
[345]	train-mlogloss:0.327811	test-mlogloss:0.548804
[346]	train-mlogloss:0.327425	test-mlogloss:0.548861
[347]	train-mlogloss:0.327067	test-mlogloss:0.548832
[348]	train-mlogloss:0.326464	test-mlogloss:0.548744
[349]	train-mlogloss:0.325968	test-mlogloss:0.548717
[350]	train-mlogloss:0.325507	test-mlogloss:0.548716
[351]	train-mlogloss:0.325064	test-mlogloss:0.548712
[352]	train-mlogloss:0.324529	test-mlogloss:0.548771
[353]	train-mlogloss:0.323976	test-mlogloss:0.548737
[354]	train-mlogloss:0.323311	test-mlogloss:0.54865
[355]	train-mlogloss:0.322985	test-mlogloss:0.548777
[356]	train-mlogloss:0.322436	test-mlogloss:0.5486
Stopping. Best iteration:
[336]	train-mlogloss:0.331723	test-mlogloss:0.548591

[0.54859987901845597]

In [207]:
preds, model = runXGB(train_X, train_y, test_X, num_rounds=400)

In [208]:
out_df = pd.DataFrame(preds)
out_df.columns = ["high", "medium", "low"]
out_df["listing_id"] = test_df.listing_id.values
out_df.to_csv("xgb_starter2.csv", index=False)